body {
    padding-top: 5rem;
  }
  
  body, html {
    height: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    background-color: rgb(166, 173, 204);
  }

  .img{
    width: 100%;
    background-color: rgb(166, 173, 204);
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(141, 144, 241);
    border-radius: 2em;
  }
  
  div {
    background-color: rgb(166, 173, 204);
  }
  .bgimg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
  }
  